body {
  /*background-color: #2d283e;*/
  --maxw: min(90%, 1500px);
  --maxw_body: min(85%, 1300px);
  --mantine-color-body: #2d283e;
}

main {
  max-width: var(--maxw_body);
  color: white;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 80px;
}