.header_paper {
    background-size: cover;
    background-position-y: 50%;
    background-color: #191528;
    background-image: url(/cover.webp);
    background-blend-mode: color-dodge;
    /*min-height: 75vh;*/
}

.header_text {
    color: #03cba4;
    font-size: min(100px, max(1rem, 10vw));
    line-height: min(100px, max(1rem, 10vw));
    margin: 0;
}