.navbar {
    /*max-width: var(--maxw);*/
    margin: auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 250;
    background-color: #191528;
}

.navbar_content {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-content: center;
}

.home_link {
    text-decoration: none;
    text-decoration-color: white;
    color: white;
    margin-right: auto;
    display: flex;
    align-self: flex-start;
}

.menu_links {
    display: block;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
}

.menu_sublinks {
    margin-left: 32px;
    display: block;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
}

.links {
    text-decoration: none;
    text-decoration-color: white;
    color: white;
    margin: auto;
    padding: 5px;
}

.links_container {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    align-content: center;
    margin-right: auto;
    /*padding: 0 10%;*/
}